* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.film-card {
  width: 90%;
  max-height: 90%;
  border: 1px solid gray;
  border-radius: 10px;
}

.film-card nav {
  border-bottom: 1px solid gray;
  text-align: center;
}

.add-film {
  min-height: 100px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-film .info {
  width: 60%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.success {
  background-color: rgb(124, 197, 124);
}

.fail {
  background-color: rgb(184, 132, 132);
}

.add-film input {
  width: 60%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.add-film button {
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#movie-image {
  max-width: 150px; 
  max-height: 150px;
}

#movie-table {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.clear-all {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-all button {
  background-color: rgb(173, 21, 21);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}